
body {
    font-family: Arial, sans-serif;
    background-color: #fafcfc; 
    margin: 0;
    padding: 0;
}


.parent {
    display: grid;
        grid-template-columns:0fr ;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    width: 100%;
    margin: 20px auto;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
}

.weather-summary {
    position: relative;
    padding: 20px;
    width: 70%;
    height: 100%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.weather-content {
    position: relative;
    z-index: 1; 
    color: #0e0d0d; 
    text-align: center;
}

.weather-icon-container {
    position: absolute;
    top: 20px; 
    right: 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
}
.weather-icon-container img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    margin:20px;
}

.weather-icon-container svg {
    width: 24px; 
    height: 24px;
    color: #333; 
    margin:20px;
}

#temperature{
    font-size: 5em;
    margin: 70px;
    margin-left: 100px;
}

p {
    margin: 10px 0;
    font-size: 2em;
    font-weight: 600;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color:white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 1000px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.location-date {
margin-top: 40px;
}
#select-location {
    background-color: #4CAF50;
    color: white; 
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1); 
    transition: all 0.2s ease-in-out; 
}


#select-location:hover,
#select-location:focus {
    background-color: #45a049; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.1); 
    transform: translateY(-2px); 
}


#select-location:active {
    background-color: #3e8e41;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(1px); 
}
#confirm-location {
    background-color: #008CBA; 
    color: white; 
    border: none;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1); 
    transition: all 0.2s ease-in-out; 
}


#confirm-location:hover,
#confirm-location:focus {
    background-color: #007bb5; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.1); 
    transform: translateY(-2px);
}


#confirm-location:active {
    background-color: #005f73; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1); 
    transform: translateY(1px);
}
.location-date{
margin-right: 100px;
width: 100%;
height: 300px;
}

